html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFE0;
}
.container{
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container{
  margin: auto;
}
.nav-container svg{
  color: #FFF;
}
a{
  text-decoration: none;
}
